<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Hang's Design Porfolio">
   <meta name="author" content="Hang Pham">
   <title>Hang's Design Porfolio</title>

   <!-- EMBEDDED FONTS & ICONS  -->
   <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
   <link rel="icon" href="images/header/favicon.ico">
   <script src="https://kit.fontawesome.com/73867dcb48.js" crossorigin="anonymous"></script>

   <!-- STYLES -->
   <link href="./css/style.css" rel="stylesheet">

</head>

<body>
   <!-- PAGE HEADER -->
   <section class="col-lg-2">
      <div class="navbar navbar-default visible-xs">
         <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="./index.html" class="navbar-brand">Hang Pham's Design Porfolio</a>
      </div>

      <!-- NAVIGATION BAR -->
      <nav class="sidebar">
         <div class="navbar-collapse" id="navbar-collapse">
            <div class="site-header hidden-xs">
               <a class="site-brand" href="./index.html" title="Title" target="_blank">
                  <img class="img-responsive site-logo" alt="" src="images/logo.svg">
                  Hang Pham's Design Porfolio
               </a>
               <p>Welcome! This site contains some notable design projects I hava partaken in the last three years. For
                  more
                  information, click on the picture of the project! </p>
            </div>
            <ul class="nav">
               <li><a href="./index.html" class="nav_item" target="_blank">Home</a></li>
               <li><a href="https://thanhhang1306.github.io/portfolio/" class="nav_item" target="_blank">About Me</a>
               </li>
               <li><a href="./project.html" class="nav_item"><strong>Design Project</a> </strong></li>
               <li><a href="./signup.html" class="nav_item"> Contact</a></li>
            </ul>

            <nav class="nav-footer">
               <p class="nav-footer-social-buttons">
                  <a class="fa-icon" href="https://thanhhang1306.github.io/portfolio/" title="Personal Site"
                     data-toggle="tooltip" target="_blank">
                     <i class="fa fa-link"></i>
                  </a>
                  <a class="fa-icon" href="https://www.linkedin.com/in/hang-pham-727774188/" title="LinkedIn"
                     data-toggle="tooltip" target="_blank">
                     <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a class="fa-icon" href="https://github.com/thanhhang1306" title="GitHub" data-toggle="tooltip"
                     target="_blank">
                     <i class="fa-brands fa-square-github"></i>
                  </a>
                  <a class="fa-icon" href="mailto: hang.pham@princeton.edu" title="Email" data-toggle="tooltip"
                     target="_blank">
                     <i class="fa-regular fa-envelope"></i>
                  </a>
               </p>
               <p>© 2023 Hang Pham. <br>All rights reserved. <br> Last Updated: 2/2023</p>
            </nav>
         </div>
      </nav>
   </section>

   <main class="text-center" id="main-collapse">
      <br><br><br><br>
      <img class="mb-4" src="./images/logo.svg" alt="Logo" width="72" height="72">
      <h1 class="h3 mb-2 font-weight-normal"> Design Projects || Weather App</h1>
      <br><br>
      <p> There are currently <%= weatherDesc %>
      </p>
      <p>and, the current temperature in <strong>
            <%= query %>
         </strong> is <%= weatherData %> degrees Celsius!</p>
      <img src=<%=link %>


   </main>
   <!-- JAVASCRIPT -->
   <script type="text/javascript" src="js/index.js"></script>
</body>

</html>